<!DOCTYPE html>
<html lang="fr">
    <body>   
        <p>
            Titre : {{titre}}<br>
            Résumé :{{pitch}}<br>
            Auteur : {{auteur}}<br>
            Date de sortie : {{date}}
        </p>
    </body>
</html>